  <!DOCTYPE html>

  <html>    
    <body onload="getLocation()">
      <p id="demo"></p> 
      <script>
      var x = document.getElementById("demo");
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(postToBackend);
        } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
  function checkStatus(response){
    if(response.status >= 200 && response.status < 300) {
      return response;
    }
    else{
      var error = new Error(response.statusText); 
      alert(error);
      error.response = response;
      throw error;
    }
  }
  function postToBackend(position){
    const url = "https://fa32a9c0fa.execute-api.eu-central-1.amazonaws.com/TEST";
    const app = "{{content}}";
    const payload = {
      "app" : app,
      "lat" : position.coords.latitude,
      "lon" : position.coords.longitude
    };
    try {fetch(url, {      
      method: "POST",
      credentials: "same-origin",
      headers: {
        'Content-Type': 'application/json'              
      },
      body: JSON.stringify(payload)
      }).then(checkStatus)
        .then(value => {
        return value.json();
        })
        .then(Response => {
          window.location.replace(Response['body'].replace('"', ''));
        });          
      }
    catch {
      alert("ERROR");
    }
  }
  
  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
  }
      </script>
      </body>
      </html>
